<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483289280881-56m2i5dgcpj9doshkrrt17c0sianauib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483289280881-56m2i5dgcpj9doshkrrt17c0sianauib</string>
	<key>API_KEY</key>
	<string>AIzaSyDqoZKoXNNaMtBDpHJAWkRhtkgw_HR2W0M</string>
	<key>GCM_SENDER_ID</key>
	<string>483289280881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.battabar.LTAI</string>
	<key>PROJECT_ID</key>
	<string>letstalkaboutit-d09f2</string>
	<key>STORAGE_BUCKET</key>
	<string>letstalkaboutit-d09f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483289280881:ios:7da76b1d47d837f23846d0</string>
	<key>DATABASE_URL</key>
	<string>https://letstalkaboutit-d09f2.firebaseio.com</string>
</dict>
</plist>